@import url('https://fonts.googleapis.com/css2?family=Yrsa:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');
body {
    background-color: white;
    font-family:"Short Stack";
    font-size: 22px;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

#content {
    max-width: auto;
    margin: 0 auto;
}

header {
    background-color: #2A1E5C;
    display: grid;
    grid-template-columns: 150px auto;
    margin-bottom: 110px;
}

#logo_link {
    padding-top: 0px;
    justify-self: center;
    align-self: center;
}

.h_logo {
    width: auto;
}
#h_purple_cow_link{
    height: 200px;
}
nav {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    color: white;
    text-decoration: none;
    
}

nav a {
    text-align: center;
    background-color: #2A1E5C;
    color: white;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #EE4266;
    color: white;
    text-decoration: none;      
}

#h_eoe {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    margin-top: -150px;
}

#h_eoe_microscope {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#h_eoe_img {
    width: 100%;
    opacity: .1;
    height: 100vh;
}
#interesting_img {
    margin-top: 20px;
     max-width: 50%;
 }
#eoe_what_is_msg {
    grid-column: 2/3;
    grid-row: 1;
    margin-top: 75px;
    text-align: center;
}

.home-title {
    color: BLACK;
    font-family: "Yrsa";
    font-size: 3em;
    margin-top: 10px;
    text-decoration: none;
}
.container {
  position: relative;
  width: 100%;
  
  
}

#f_eoe {
    display: block;
    text-align: center;
    margin: auto;
}

.image {
  display: block;
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 25%;
  right: 25%;
  height: 100%;
  width: 50%;
  opacity: 0;
  transition: 1s ease;
  background-color: #EE4266;
}
.container:hover .overlay {
  opacity: 1;
}
.text {
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


#f_boy_img {
    display: block;
    text-align: center;
    margin: auto;
    max-width: 30%;
    margin-top: 30px;
}
#facts {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 50px;
    text-align: center;
}
.home-title_f {
    color: #2A1E5C;
    font-family: "Yrsa";
    font-size: 3em;
    margin-top: 10px;
    text-decoration: none;
}
#diagnosis {
    text-align: center;
    margin-top: 50px;
}

#treatment {
    text-align: center;
    margin-top: 50px;
}
#treatment_img {
    display: block;
    text-align: center;
    margin: auto;
    max-width: 40%;
}
#helpfulinfo {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 30px;
}

#did_you {
    display: block;
    text-align: center;
    margin: auto;
    
}


#purple_cow {
    display: block;
    text-align: center;
    margin: auto;

    
}

footer {
    grid-column: 1/4;
    width: 100%;
    background-color: #EE4266 ;
    color: #2A1E5C;
    padding: 25px 50px;
    margin-top: 50px;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

footer a {   
    color: #2A1E5C;
    text-decoration: none;
    font-family:"Short Stack";
}

