@import url('https://fonts.googleapis.com/css2?family=Yrsa:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');
body {
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    background-color: #2A1E5C;
    display: grid;
    grid-template-columns: 150px auto;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.h_logo {
    width: 100%;
}

nav {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    color: white;
    text-decoration: none;
    
}

nav a {
    text-align: center;
    background-color: #2A1E5C;
    color: white;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #EE4266;
    color: white;
    text-decoration: none;      
}

#h_eoe {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#h_eoe_microscope {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#h_eoe_img {
    width: 100%;
    opacity: .2;
}

#eoe_what_is_msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 125px;
    text-align: center;
}

.home-title {
    color: BLACK;
    font-family: 'Merriweather', serif, 'Lato', sans-serif;
    font-size: 3em;
    margin-top: 10px;
    text-decoration: none;
}





#f_eoe {
    display: block;
    text-align: center;
    margin: auto;

    
}

#f_boy_img {
    display: block;
    text-align: center;
    margin: auto;
    max-width: 30%;
    margin-top: 30px;
}
#facts {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 50px;
    text-align: center;
}
.home-title_f {
    color: #EE4266;
    font-family: 'Merriweather', serif, 'Lato', sans-serif;
    font-size: 3em;
    margin-top: 10px;
    text-decoration: none;
}
#diagnosis {
    text-align: center;
    margin-top: 50px;
}

#treatment {
    text-align: center;
    margin-top: 50px;
}
#treatment_img {
    display: block;
    text-align: center;
    margin: auto;
    max-width: 40%;
}
#helpfulinfo {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 30px;
}

#did_you {
    display: block;
    text-align: center;
    margin: auto;
    
}
#interesting_img {
   margin-top: 20px;
    max-width: 50%;
}

#purple_cow {
    display: block;
    text-align: center;
    margin: auto;
    
}

#purple {
    
}

footer {
    grid-column: 1/4;
    width: 100%;
    background-color: #EE4266 ;
    color: #2A1E5C;
    font-family: 'Merriweather', serif, 'Lato', sans-serif;
    padding: 25px 50px;
    margin-top: 50px;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

footer a {   
    color: #2A1E5C;
    text-decoration: none; 
}

